extends ../layout/layoutContacto
block content
    .texto
        p
            | Si tienes alguna consulta respecto al Torneo Latinoamericano o respecto a la organización del mismo y/o quieres saber o participar de él, no dudes en contactarte con nosotros a:
        label.tag(for='fname') Administradores - Perú
        br
        label.categoria(for='fname') Pablo Feuillerat
        br
        label.info(for='fname') (+51) 989 109 270
        br
        label.categoria(for='fname') Juano Hartley
        br
        label.info(for='fname') (+51) 933 158 253
        br
        label.tag(for='fname') E-Mail
        br
        label.info(for='fname') contacto@aoslat.com
        br
        label.tag(for='fname') Redes Sociales
        br
        .social
            i.gg-facebook
            i.gg-youtube
            img#disc_negro(src='images/discord2_negro.png' width='20px' alt='')
            img(src='images/twitch_negro.png' width='20px' alt='')
        hr
        p
            | Si eres nuevo y/o recién quieres empezar tenemos muchas formas de ayudarte en este sitio. Sin embargo te recomendamos que te unas a la comunidad de tu país en redes sociales
            a(href='#')
                span(style='color: #97090B')  aquí
            | .
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
