extends ../layout/layoutIndex
block content
    .texto
      h1.hola ¡Hola y bienvenido!
      p
        | Si juegas Warhammer: Age of Sigmar y vives en Latinoamérica te invitamos a que te unas a esta comunidad. Nuestro primer objetivo es organizar eventos competitivos a nivel regional mediante la plataforma digital TableTop Simulator (TTS).
      li
        button.btn.btn-outline-dark(type='button') Nuestro Canal
      p
        | Si eres un jugador casual, o recién estás empezando o quieres empezar, también tenemos un espacio para tí y una sección donde puedes ver y compartir listas de distintas facciones.
      li
        button.btn.btn-outline-dark(type='button') Meta
      p
        | Regístrate y apoya nuestra comunidad. Cuéntanos de tí y de tu hobby para definir la meta latina y compartir este espacio entre todos.
      li
        button.btn.btn-outline-dark(type='button') Registro
