extends ../layout/layoutBases
block content
    .texto
        p
            | Registra un evento de Warhammer: Age of Sigmar en tu localidad, ya sea vía online o presencial. Si eres administrador de una tienda relacionada a artículos de wargames, te invitamos a agregar los datos de la misma para facilitar la información a nuevos jugadores. Asimismo podrán ubicarte quienes anden en búsqueda de un contrincante o un evento en tu región.
        hr
        h1.hola Bases
        p This is the content for Layout P Tag
