extends layout
block contentMenu
    .submenu
        ul
            a(href='/comunidad' style='text-decoration:none;')
                li
                    font(color='black') TORNEOS
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') ¿DONDE JUGAR?
            a(href='/comunidad/registroTienda' style='text-decoration:none;')
                li
                    font(color='black') REGISTRA TU TIENDA
    hr(size='3px' color='#00111E')
    block content