extends layout
block contentMenu
    .submenu
        ul
            a(href='/torneo/inscripcion' style='text-decoration:none;')
                li
                    font(color='black') INSCRIPCIÓN
            a(href='/torneo' style='text-decoration:none;')
                li
                    font(color='black') BASES DEL TORNEO
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') FIXTURE
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') BATTLEPLANS
    hr(size='3px' color='#00111E')
    block content