extends layout
block contentMenu
    .submenu
        ul
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') GRUPOS
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') RESULTADOS
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') INSCRIPCIONES
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') HISTÓRICO
    hr(size='3px' color='#00111E')
    block content