extends layout
block contentMenu
    .submenu
        ul
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') PAÍS
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') ¿DONDE JUGAR?
            a(href='#' style='text-decoration:none;')
                li
                    font(color='black') TIENDAS
    hr(size='3px' color='#00111E')
    block content